*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
  background-color: #fff; }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom left, rgba(2, 102, 168, 0.6), rgba(0, 74, 124, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%); }
  .header__logo-box img {
    position: absolute;
    top: 60px;
    left: 50px;
    animation: moveFromTop 1s; }
  .header__logo {
    height: 85px;
    rotate: -20deg; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 50px; }
  .heading-primary--main {
    display: block;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 30px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInRight 1s ease-in; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px, -50px); }
  80% {
    transform: translate(10px, 10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px, 50px); }
  80% {
    transform: translate(-10px, -10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translate(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn--animated {
  animation: moveFromBottom 1s 1s;
  animation-fill-mode: backwards; }
