// COLORS
$color-primary: #0266a8;
$color-primary-light: #5acbfc;
$color-primary-dark: #004A7C;

$color-gray-light:#f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;

$color-black: #000;

// GRID
$grid-width: 114rem;
$gap-horizontal: 4rem;
$gap-vertical: 6rem;
