// COLORS
$color-primary: #0266a8;
$color-primary-light: #5acbfc;
$color-primary-dark: #004A7C;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-gray-light:#f7f7f7;
$color-gray: #EEE;
$color-grey-dark: #777;


$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gap-horizontal: 4rem;
$gap-vertical: 6rem;


//FONT

$default-font-size: 1.6rem;