.composition {
    position: relative;

    &__photo {
        width: 60%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border: 2px solid $color-primary;
        
        position: absolute;
        transition: all .5s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 4rem;
        }

        &--p3 {
            left: 10%;
            top: 12rem;
        }
        &:hover {
            outline: .5rem solid $color-primary;
            transform: scale(1.2);
            z-index: 1;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .6);
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}